# Environment
#.env

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/

# Node
node_modules/
frontend/dist/

# Data & Images (ไม่ push รูปภาพและ DB จริงขึ้น Git)
data/face_scanner/
data/postgres_db/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/