.venv/
__pycache__/
*.pyc
*.pt
roi_images/
logs/Back_left/
logs/Back_right/
logs/Front_left/
logs/Front_right/
logs/roi_images/
logs/pc_state_all.csv
pc_unattended_flags_*
daily_summary_*
test_vid
*.mp4
groundtruth/
logs_video_mode/Back_left*
logs_video_mode/Back_right*
logs_video_mode/Front_left*
logs_video_mode/Front_right*
pc_state_all.csv